In [113]:
import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from flask import Flask, jsonify, render_template
from sqlalchemy import desc

In [191]:
database_path = "../datasets/bellybutton.sqlite"
engine = create_engine(f"sqlite:///{database_path}", echo=True)

In [192]:
Base = automap_base()
Base.prepare(engine, reflect=True)

Samples_Metadata = Base.classes.sample_metadata
Samples = Base.classes.samples

session = Session(engine)

2019-06-07 13:27:56,236 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-06-07 13:27:56,237 INFO sqlalchemy.engine.base.Engine ()
2019-06-07 13:27:56,238 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-06-07 13:27:56,238 INFO sqlalchemy.engine.base.Engine ()
2019-06-07 13:27:56,239 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-06-07 13:27:56,239 INFO sqlalchemy.engine.base.Engine ()
2019-06-07 13:27:56,243 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("sample_metadata")
2019-06-07 13:27:56,243 INFO sqlalchemy.engine.base.Engine ()
2019-06-07 13:27:56,247 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'sample_metadata' AND type = 'table'
2019-06-07 13:27:56,247 INFO sqlalchemy.engine.base.Engine ()
2019-06-07 13:27:56,250 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("sample_metadata")
2019-06-07 13:27:56,250 INFO sqlalchemy.engine.base.Engine ()
2019-06-07 13:27:56,251 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'sample_metadata' AND type = 'table'
2019-06-07 13:27:56,251 INFO sqlalchemy.engine.base.Engine ()
2019-06-07 13:27:56,253 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("sample_metadata")
2019-06-07 13:27:56,254 INFO sqlalchemy.engine.base.Engine ()
2019-06-07 13:27:56,255 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("sample_metadata")
2019-06-07 13:27:56,256 INFO sqlalchemy.engine.base.Engine ()
2019-06-07 13:27:56,257 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'sample_metadata' AND type = 'table'
2019-06-07 13:27:56,258 INFO sqlalchemy.engine.base.Engine ()
2019-06-07 13:27:56,260 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("samples")
2019-06-07 13:27:56,261 INFO sqlalchemy.engine.base.Engine ()
2019-06-07 13:27:56,272 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'samples' AND type = 'table'
2019-06-07 13:27:56,272 INFO sqlalchemy.engine.base.Engine ()
2019-06-07 13:27:56,275 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("samples")
2019-06-07 13:27:56,276 INFO sqlalchemy.engine.base.Engine ()
2019-06-07 13:27:56,277 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'samples' AND type = 'table'
2019-06-07 13:27:56,277 INFO sqlalchemy.engine.base.Engine ()
2019-06-07 13:27:56,279 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("samples")
2019-06-07 13:27:56,280 INFO sqlalchemy.engine.base.Engine ()
2019-06-07 13:27:56,282 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("samples")
2019-06-07 13:27:56,282 INFO sqlalchemy.engine.base.Engine ()
2019-06-07 13:27:56,284 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'samples' AND type = 'table'
2019-06-07 13:27:56,285 INFO sqlalchemy.engine.base.Engine ()

In [16]:
# @app.route("/names")

stmt = session.query(Samples).statement
df = pd.read_sql_query(stmt, session.bind)

print (list(df.columns)[2:])

['940', '941', '943', '944', '945', '946', '947', '948', '949', '950', '952', '953', '954', '955', '956', '958', '959', '960', '961', '962', '963', '964', '966', '967', '968', '969', '970', '971', '972', '973', '974', '975', '978', '1233', '1234', '1235', '1236', '1237', '1238', '1242', '1243', '1246', '1253', '1254', '1258', '1259', '1260', '1264', '1265', '1273', '1275', '1276', '1277', '1278', '1279', '1280', '1281', '1282', '1283', '1284', '1285', '1286', '1287', '1288', '1289', '1290', '1291', '1292', '1293', '1294', '1295', '1296', '1297', '1298', '1308', '1309', '1310', '1374', '1415', '1439', '1441', '1443', '1486', '1487', '1489', '1490', '1491', '1494', '1495', '1497', '1499', '1500', '1501', '1502', '1503', '1504', '1505', '1506', '1507', '1508', '1510', '1511', '1512', '1513', '1514', '1515', '1516', '1517', '1518', '1519', '1521', '1524', '1526', '1527', '1530', '1531', '1532', '1533', '1534', '1535', '1536', '1537', '1539', '1540', '1541', '1542', '1543', '1544', '1545', '1546', '1547', '1548', '1549', '1550', '1551', '1552', '1553', '1554', '1555', '1556', '1557', '1558', '1561', '1562', '1563', '1564', '1572', '1573', '1574', '1576', '1577', '1581', '1601']

In [118]:
# @app.route("/samples/<sample>")

sample = '940'

stmt = session.query(Samples).statement
df = pd.read_sql_query(stmt, session.bind)

sample_data = df.loc[df[sample] > 1, ["otu_id", "otu_label", sample]]

sample_data.sort_values(by=sample, ascending=False, inplace=True)

data = {
        "otu_ids": sample_data.otu_id.values.tolist(),
        "sample_values": sample_data[sample].values.tolist(),
        "otu_labels": sample_data.otu_label.tolist(),
}

cond = sample_data[sample] >1
columns = ["otu_id", "otu_label", sample]

sample_data[cond][columns].head(10)

      otu_id                                          otu_label  940
1166    1167  Bacteria;Bacteroidetes;Bacteroidia;Bacteroidal...  163
2858    2859  Bacteria;Firmicutes;Clostridia;Clostridiales;I...  126
481      482                                           Bacteria  113
2263    2264  Bacteria;Firmicutes;Clostridia;Clostridiales;I...   78
40        41                                           Bacteria   71
1188    1189  Bacteria;Bacteroidetes;Bacteroidia;Bacteroidal...   51
351      352                                           Bacteria   50
188      189                                           Bacteria   47
2317    2318  Bacteria;Firmicutes;Clostridia;Clostridiales;I...   40
1976    1977       Bacteria;Firmicutes;Clostridia;Clostridiales   40

In [100]:
session.query(Samples).filter(Samples.otu_id == 2).all()[0].otu_label

# session.query(db.users).filter_by(name='Joe', surname='Dodson')

#session.query(Samples).filter(Samples.sample == 2)

#dir(Samples.metadata.tables.keys())
print (Samples.metadata.tables['samples'].columns.keys())

['otu_id', 'otu_label', '940', '941', '943', '944', '945', '946', '947', '948', '949', '950', '952', '953', '954', '955', '956', '958', '959', '960', '961', '962', '963', '964', '966', '967', '968', '969', '970', '971', '972', '973', '974', '975', '978', '1233', '1234', '1235', '1236', '1237', '1238', '1242', '1243', '1246', '1253', '1254', '1258', '1259', '1260', '1264', '1265', '1273', '1275', '1276', '1277', '1278', '1279', '1280', '1281', '1282', '1283', '1284', '1285', '1286', '1287', '1288', '1289', '1290', '1291', '1292', '1293', '1294', '1295', '1296', '1297', '1298', '1308', '1309', '1310', '1374', '1415', '1439', '1441', '1443', '1486', '1487', '1489', '1490', '1491', '1494', '1495', '1497', '1499', '1500', '1501', '1502', '1503', '1504', '1505', '1506', '1507', '1508', '1510', '1511', '1512', '1513', '1514', '1515', '1516', '1517', '1518', '1519', '1521', '1524', '1526', '1527', '1530', '1531', '1532', '1533', '1534', '1535', '1536', '1537', '1539', '1540', '1541', '1542', '1543', '1544', '1545', '1546', '1547', '1548', '1549', '1550', '1551', '1552', '1553', '1554', '1555', '1556', '1557', '1558', '1561', '1562', '1563', '1564', '1572', '1573', '1574', '1576', '1577', '1581', '1601']

In [193]:
col_name = '940'
#session.query(Samples).filter(getattr(Samples, col_name) > 1).all()
#session.query(Samples).filter(getattr(Samples, col_name) > 1).order_by(desc(getattr(Samples, col_name))).all()

#someselect.order_by(desc(table1.mycol))

for item in session.query(Samples).filter(getattr(Samples, col_name) > 1).order_by(desc(getattr(Samples, col_name))).limit(-10):
    print (f'{item.otu_id} - {item.otu_label} - {item.__getattribute__(col_name)}')
    
    #print(dir(item.__getattribute__))
    #print (item.__getattribute__('otu_id'))
    #print (str(getattr(Samples, col_name)))
    #print (item.__getattribute__('940'))
    #print(type(item.otu_id))
    #print(getattr(Samples, col_name))
    #print(type(getattr(Samples, col_name)))
    #print(dir(getattr(Samples, col_name)))
    #break

2019-06-07 13:28:01,944 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-06-07 13:28:01,953 INFO sqlalchemy.engine.base.Engine SELECT samples.otu_id AS samples_otu_id, samples.otu_label AS samples_otu_label, samples."940" AS samples_940, samples."941" AS samples_941, samples."943" AS samples_943, samples."944" AS samples_944, samples."945" AS samples_945, samples."946" AS samples_946, samples."947" AS samples_947, samples."948" AS samples_948, samples."949" AS samples_949, samples."950" AS samples_950, samples."952" AS samples_952, samples."953" AS samples_953, samples."954" AS samples_954, samples."955" AS samples_955, samples."956" AS samples_956, samples."958" AS samples_958, samples."959" AS samples_959, samples."960" AS samples_960, samples."961" AS samples_961, samples."962" AS samples_962, samples."963" AS samples_963, samples."964" AS samples_964, samples."966" AS samples_966, samples."967" AS samples_967, samples."968" AS samples_968, samples."969" AS samples_969, samples."970" AS samples_970, samples."971" AS samples_971, samples."972" AS samples_972, samples."973" AS samples_973, samples."974" AS samples_974, samples."975" AS samples_975, samples."978" AS samples_978, samples."1233" AS samples_1233, samples."1234" AS samples_1234, samples."1235" AS samples_1235, samples."1236" AS samples_1236, samples."1237" AS samples_1237, samples."1238" AS samples_1238, samples."1242" AS samples_1242, samples."1243" AS samples_1243, samples."1246" AS samples_1246, samples."1253" AS samples_1253, samples."1254" AS samples_1254, samples."1258" AS samples_1258, samples."1259" AS samples_1259, samples."1260" AS samples_1260, samples."1264" AS samples_1264, samples."1265" AS samples_1265, samples."1273" AS samples_1273, samples."1275" AS samples_1275, samples."1276" AS samples_1276, samples."1277" AS samples_1277, samples."1278" AS samples_1278, samples."1279" AS samples_1279, samples."1280" AS samples_1280, samples."1281" AS samples_1281, samples."1282" AS samples_1282, samples."1283" AS samples_1283, samples."1284" AS samples_1284, samples."1285" AS samples_1285, samples."1286" AS samples_1286, samples."1287" AS samples_1287, samples."1288" AS samples_1288, samples."1289" AS samples_1289, samples."1290" AS samples_1290, samples."1291" AS samples_1291, samples."1292" AS samples_1292, samples."1293" AS samples_1293, samples."1294" AS samples_1294, samples."1295" AS samples_1295, samples."1296" AS samples_1296, samples."1297" AS samples_1297, samples."1298" AS samples_1298, samples."1308" AS samples_1308, samples."1309" AS samples_1309, samples."1310" AS samples_1310, samples."1374" AS samples_1374, samples."1415" AS samples_1415, samples."1439" AS samples_1439, samples."1441" AS samples_1441, samples."1443" AS samples_1443, samples."1486" AS samples_1486, samples."1487" AS samples_1487, samples."1489" AS samples_1489, samples."1490" AS samples_1490, samples."1491" AS samples_1491, samples."1494" AS samples_1494, samples."1495" AS samples_1495, samples."1497" AS samples_1497, samples."1499" AS samples_1499, samples."1500" AS samples_1500, samples."1501" AS samples_1501, samples."1502" AS samples_1502, samples."1503" AS samples_1503, samples."1504" AS samples_1504, samples."1505" AS samples_1505, samples."1506" AS samples_1506, samples."1507" AS samples_1507, samples."1508" AS samples_1508, samples."1510" AS samples_1510, samples."1511" AS samples_1511, samples."1512" AS samples_1512, samples."1513" AS samples_1513, samples."1514" AS samples_1514, samples."1515" AS samples_1515, samples."1516" AS samples_1516, samples."1517" AS samples_1517, samples."1518" AS samples_1518, samples."1519" AS samples_1519, samples."1521" AS samples_1521, samples."1524" AS samples_1524, samples."1526" AS samples_1526, samples."1527" AS samples_1527, samples."1530" AS samples_1530, samples."1531" AS samples_1531, samples."1532" AS samples_1532, samples."1533" AS samples_1533, samples."1534" AS samples_1534, samples."1535" AS samples_1535, samples."1536" AS samples_1536, samples."1537" AS samples_1537, samples."1539" AS samples_1539, samples."1540" AS samples_1540, samples."1541" AS samples_1541, samples."1542" AS samples_1542, samples."1543" AS samples_1543, samples."1544" AS samples_1544, samples."1545" AS samples_1545, samples."1546" AS samples_1546, samples."1547" AS samples_1547, samples."1548" AS samples_1548, samples."1549" AS samples_1549, samples."1550" AS samples_1550, samples."1551" AS samples_1551, samples."1552" AS samples_1552, samples."1553" AS samples_1553, samples."1554" AS samples_1554, samples."1555" AS samples_1555, samples."1556" AS samples_1556, samples."1557" AS samples_1557, samples."1558" AS samples_1558, samples."1561" AS samples_1561, samples."1562" AS samples_1562, samples."1563" AS samples_1563, samples."1564" AS samples_1564, samples."1572" AS samples_1572, samples."1573" AS samples_1573, samples."1574" AS samples_1574, samples."1576" AS samples_1576, samples."1577" AS samples_1577, samples."1581" AS samples_1581, samples."1601" AS samples_1601
FROM samples
WHERE samples."940" > ? ORDER BY samples."940" DESC
 LIMIT ? OFFSET ?
2019-06-07 13:28:01,953 INFO sqlalchemy.engine.base.Engine (1, -10, 0)
1167 - Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas - 163
2859 - Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Peptoniphilus - 126
482 - Bacteria - 113
2264 - Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI - 78
41 - Bacteria - 71
1189 - Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas - 51
352 - Bacteria - 50
189 - Bacteria - 47
1977 - Bacteria;Firmicutes;Clostridia;Clostridiales - 40
2318 - Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus - 40
3450 - Bacteria;Proteobacteria;Epsilonproteobacteria;Campylobacterales;Campylobacteraceae;Campylobacter - 37
874 - Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Actinomycetaceae;Varibaculum - 36
1959 - Bacteria;Firmicutes;Clostridia - 30
2191 - Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI - 28
1950 - Bacteria;Firmicutes;Clostridia - 25
2077 - Bacteria;Firmicutes;Clostridia;Clostridiales - 23
2275 - Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI - 22
944 - Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Corynebacteriaceae;Corynebacterium - 19
2184 - Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI - 19
2244 - Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI - 14
2024 - Bacteria;Firmicutes;Clostridia;Clostridiales - 13
2419 - Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus - 13
2811 - Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Peptoniphilus - 13
165 - Bacteria - 12
2782 - Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Peptoniphilus - 12
2011 - Bacteria;Firmicutes;Clostridia;Clostridiales - 11
2247 - Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI - 11
2396 - Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus - 11
830 - Bacteria;Actinobacteria;Actinobacteria;Actinomycetales - 10
1795 - Bacteria;Firmicutes;Bacilli;Bacillales;Staphylococcaceae;Staphylococcus - 10
2964 - Bacteria;Firmicutes;Clostridia;Clostridiales;Veillonellaceae - 10
2722 - Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Finegoldia - 8
307 - Bacteria - 7
2178 - Bacteria;Firmicutes;Clostridia;Clostridiales - 7
2908 - Bacteria;Firmicutes;Clostridia;Clostridiales;Peptococcaceae;Peptococcus - 7
1193 - Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas - 6
1208 - Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas - 5
2039 - Bacteria;Firmicutes;Clostridia;Clostridiales - 5
2167 - Bacteria;Firmicutes;Clostridia;Clostridiales - 5
1274 - Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Prevotellaceae - 4
2737 - Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Gallicola - 4
2739 - Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Gallicola - 4
833 - Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Actinomycetaceae - 3
907 - Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Corynebacteriaceae - 3
1314 - Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Prevotellaceae;Prevotella - 3
1962 - Bacteria;Firmicutes;Clostridia - 3
2186 - Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI - 3
2335 - Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus - 3
2936 - Bacteria;Firmicutes;Clostridia;Clostridiales;Ruminococcaceae - 3
121 - Bacteria - 2
159 - Bacteria - 2
170 - Bacteria - 2
258 - Bacteria - 2
259 - Bacteria - 2
340 - Bacteria - 2
342 - Bacteria - 2
357 - Bacteria - 2
412 - Bacteria - 2
513 - Bacteria - 2
725 - Bacteria;Actinobacteria;Actinobacteria;Actinomycetales - 2
1169 - Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas - 2
1232 - Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas - 2
1497 - Bacteria;Firmicutes - 2
1498 - Bacteria;Firmicutes - 2
1503 - Bacteria;Firmicutes - 2
1505 - Bacteria;Firmicutes - 2
1960 - Bacteria;Firmicutes;Clostridia - 2
1968 - Bacteria;Firmicutes;Clostridia - 2
2065 - Bacteria;Firmicutes;Clostridia;Clostridiales - 2
2110 - Bacteria;Firmicutes;Clostridia;Clostridiales - 2
2188 - Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI - 2
2235 - Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI - 2
2291 - Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI - 2
2342 - Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus - 2
2350 - Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus - 2
2475 - Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus - 2
2483 - Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus - 2
2491 - Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus - 2
2546 - Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus - 2
2571 - Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus - 2